.quantitative{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 800px;
    width: 50vw;
    margin: 0 auto;
    padding: 50px;
    
}

.quantitative > * {
    width: 100%; /* Ensures all children take full width */
}

.content{
    background-color: aliceblue;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;    
}

.loading {
    margin: 100px auto;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #092635;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error{
    border: 1px;
    margin-top: 100px;
    padding-top: 100px;
    text-align: center;
    z-index: 3;
}

.error button {
    border-radius: 16px;
    font-size: 1rem;
    border: transparent;
    padding: 10px;
    margin: 10px;
    background-color: #092635;
}

.error button:hover{
    cursor: pointer;

}