.header {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 50px;
    background-color: aliceblue;
    height: 200px;
}

.details{
    display: flex;
    height: 100%;
    align-items: end;
}

.PE{
    font-size: 32px;
    margin: 0;
}