.header {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 50px;
    background-color: aliceblue;
    height: 200px;
    
}

.disclaimer{
    font-weight: 800;
}

.link{
    text-decoration: underline;
    color: #5495ff !important; 
}

.link:hover{
    color: #092635 !important;
}

.details{
    display: flex;
    height: 100%;
    align-items: end;
}

.PE{
    font-size: 32px;
    margin: 0;
}