.stockTile{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    
}

.stockTile:hover{
    background-color: #f0f0f0;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.stockTile:active{
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}



.indentifier{

}

.ticker{
    font-weight: 800;
    font-size: 1.2rem;
}

.name{
    font-size: 1rem;
    display: -webkit-box; 
    -webkit-line-clamp: 1;  /* Limits text to 1 line */
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 80%; /* Adjust width based on layout */
    word-wrap: break-word; /* Ensures long words break */
}

.size{

}

.priceAndChange{

}

.price{

}

.change{

}